{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-md-6">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                class="img-fluid" style="max-height: 500px;">
            <!-- Estilo para mantener el tamaño de la imagen constante -->
        </div>
        <!-- Columna para los detalles del producto -->
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">
                    {{product.category}}
                </a>
            </h2>
            <p class="price">{{ product.price }} €</p>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                {% if product.inventory > 0 %}<input type="submit" class="btn btn-primary" value="Añadir a la cesta">{% endif %}
            </form>
            <div>{{ product.description|linebreaks }}</div>
        </div>
    </div>
</div>
{% endblock %}